/*
Theme Name: Theme Villeneuve Loubet
Description: Theme enfant de Harry Pioter
Author: Dlugosz Piotr
Author URI:
Template: sydney
Version: 0.1.0
*/
ul {
  list-style: none;
}

hr {
  border-top: 4px solid #eee;
  width: 50%;
}

.maintitle {
  color: red;
}

.widget-area a {
  color: #c5c5c5;
}

.homeBtn>a::before {
  font-family: FontAwesome;
  padding-right: 6px;
  content: "\f015";
}

#mainnav ul li::before {
  margin: 0px 5px 0 0;
  font-size: 20px;
}

.footer-widgets {
  padding: 30px 0;
  background-color: #252525;
}

.widget-area .widget {
  margin-bottom: 10px;
  padding-top: 10px;
}

.wp-block-button__link {
  background-color: #d65050;
  transition: all 0.3s ease-in-out;
  border: 1px solid #d65050;
  border-radius: 3px;
}

.is-style-squared .wp-block-button__link {
  border-radius: 3px;
}

.wp-block-button__link:hover {
  background-color: transparent;
  color: #d65050;
  transition: all 0.3s ease-in-out;
}

.section-col-titre {
  font-size: 2em;
}

.wp-block-column {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wp-block-column:hover {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(214, 80, 80, 0.2), 0 6px 20px 0 rgba(214, 80, 80, 0.19);
}

#LastPost {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#LastPost:hover {
  box-shadow: 0 4px 8px 0 rgba(214, 80, 80, 0.2), 0 6px 20px 0 rgba(214, 80, 80, 0.19);
}

.contact-link {
  max-height: 183px;
  overflow: hidden;
  border: 5px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact-link:hover {
  box-shadow: 0 4px 8px 0 rgba(214, 80, 80, 0.2), 0 6px 20px 0 rgba(214, 80, 80, 0.19);
}

.wp-image-423 {
  max-width: 100%;
  position: relative;
  opacity: 0.7;
}

.wp-image-423:hover {
  opacity: 1;
}

.contact-btn-title {
  position: relative;
  text-align: center;
  bottom: 135px;
  background-color: #d65050;
}

.contact-btn-title a {
  color: inherit;
}

.wp-block-columns {
  justify-content: center;
}

.widgettitle {
  padding-top: 0.5em;
  font-size: 2em;
  margin-bottom: 0.3em;
}

.rpwe-block h3 {
  margin-bottom: 0;
  font-size: larger;
}

#sfsi-plus-widget-7 {
  justify-content: center;
}

.sfsi_plus_widget {
  display: flex;
  justify-content: center;
}

#sidebar-footer {
  text-align: center;
}

.site-info {
  text-align: center;
}

@media (min-width: 600px) {
  .wp-block-column:not(:last-child) {
    margin-left: 32px;
  }

  .wp-image-423 {
    transform: translateY(-30%);
  }

  .contact-link {
    margin-right: 32px;
    margin-left: 32px;
  }

  #LastPost {
    margin-left: 32px;
    margin-right: 32px;
  }
}

/* ACTUALITES */
/* plus d'infos */
.page-wrap {
  padding-top: 20px;
}

.hentry .title-post {
  font-size: 50px;
  text-align: center;
}

@media (max-width: 600px) {
  .wp-block-media-text {
    display: inherit;
  }
}

/* de mois*/
td {
  padding: .5em;
  border-left: none;
  border-right: none;
  border: none;
}

.event-table-tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.event-table-tr:hover {
  background-color: rgba(214, 80, 80,0.5);
}

.event-table-btn {
  text-align: right;
  width: 152px;
}

.event-table-btn a {
  padding: 10px 20px 10px 20px;
}

.event-table-time {
  width: 10%;
}

.event-table-name {
  width: 20%;
  font-weight: 600;
}

.event-table-description {
  width: 50%;
}

.event-table-description p {
  margin: 0;
}

@media all and (max-width: 768px) {
  .event-table-tr {
    display: inline-grid;
  }

  .event-table-btn {
    text-align: center;
    width: 100%;
  }

  .event-table-time {
    width: 100%;
  }

  .event-table-name {
    width: 100%;
    font-weight: 600;
  }

  .event-table-description {
    width: 100%;
  }
}
