body {
  width: 100%;
  margin: auto;
  font-family: 'FontAwesome', 'Roboto-Regular', sans-serif;
  color: #65696e;
  font-size: 1em;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
}

li {
  list-style: none;
}

.blue {
  color: #5cadd3;
}

/* HEADER */
/*https://codepen.io/mutedblues/pen/MmPNPG*/
/* header */
.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-top: 3px solid transparent;
  text-decoration: none;
  cursor: pointer;
  color: #65696e;
}

.header li a:hover {
  color: darkgray;
  border-top: 3px solid #5cadd3;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 20px 20px;
  text-decoration: none;
  margin-left: 12%;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  position: relative;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 23px 20px;
  position: relative;
  user-select: none;
  right: 12%;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
}

.header .menu-btn:checked~.menu {
  max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* CAROUSEL */
.carousel .text {
  position: absolute;
  top: 25%;
  width: 45%;
  margin-left: 10%;
}

.carousel .button {
  background-color: #5cadd3;
  color: white;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  border-bottom: 3px solid #4494BB;
}

.carousel p {
  color: #fff;
}

.carousel h1 {
  font-weight: bold;
}

.carousel .text span {
  color: #5cadd3;
}

.carousel .wrapper {
  position: relative;
  margin: auto;
}

.carousel .item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.carousel .arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
}

.carousel .arrow-prev {
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.carousel .arrow-next {
  right: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 480px) {
  .carousel .arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}

/*Select every element*/
[id^="item"] {
  display: none;
}

.carousel .image-one {
  z-index: 2;
  opacity: 1;
  background-image: url('images/slider/bg1.jpg');
  height: 550px;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
}

.carousel .image-two {
  background-image: url('images/slider/bg2.jpg');
  background-size: cover;
  height: 550px;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
}

*:target~.image-one {
  opacity: 0;
}

#item-1:target~.image-one {
  opacity: 1;
}

#item-2:target~.image-two {
  z-index: 2;
  opacity: 1;
}

.carousel .circle-left {
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  top: 42.5%;
  height: 90px;
  width: 45px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  left: 0px;
  position: absolute;
}

.carousel .circle-right {
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  top: 42.5%;
  height: 90px;
  width: 45px;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  right: 0px;
  position: absolute;
}

/* Header*/
/* 48em = 768px */
@media (min-width: 48em) {
  .header li {
    float: left;
  }

  .header li a {
    padding: 39px 15px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    right: 8%;
  }

  .header .menu-icon {
    display: none;
  }
}

/*Header and carousel*/
@media (max-width: 768px) {
  h1 {
    color: pink;
  }

  .header {
    height: 50px;
  }

  .header .logo {
    width: 150px;
    padding: 9px 20px;
  }

  .carousel .image-one, .carousel .image-two {
    margin-top: 50px;
  }
}
