body {
  width: 100%;
  margin: auto;
  font-family: 'FontAwesome', 'Roboto-Regular', sans-serif;
  color: #65696e;
  font-size: 1em;
}

h1 {
  color: #fff;
  text-transform: uppercase;
  font-size: 2em;
}

.blue {
  color: #5cadd3;
}

/* HEADER */
header {
  padding-top: 100px;
}

#header-menu {
  width: 100%;
  height: 100px;
  max-width: 1920px;
  position: fixed;
  top: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
  z-index: 99;
  overflow: auto;
}

#header-logo {
  margin-left: 12%;
  float: left;
}

#header-logo img {}

nav a {
  padding: 38px 16px;
  /* Marges des liens */
  text-decoration: none;
  color: #777;
  text-transform: capitalize;
  /* Permets de passer la première lettre des liens en majuscules */
}

nav a:hover, nav a:focus, a.active {
  /* Focus pour l'accésibilité */
  color: #575757;
  border-top: 3px solid #5cadd3;
  /* Bordure en haut du lien sélectionner */
}

/* CAROUSEL */
.carousel-text {
  position: absolute;
  top: 25%;
  width: 45%;
  margin-left: 10%;
}

.carousel-button {
  background-color: #5cadd3;
  color: white;
  padding: 12px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2em;
  cursor: pointer;
  border-radius: 3px;
  font-weight: bold;
  border-bottom: 3px solid #4494BB;
}

.carousel p {
  color: #fff;
}

.carousel h1 {
  font-weight: bold;
}

.carousel-text span {
  color: #5cadd3;
}

.carousel-wrapper {
  position: relative;
  margin: auto;
}

.carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.carousel-arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
}

.carousel-arrow-prev {
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}

.carousel-arrow-next {
  right: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

@media (max-width: 480px) {
  .carousel-arrow {
    background-size: 10px;
    background-position: 10px 50%;
  }
}

/*Select every element*/
[id^="item"] {
  display: none;
}

.carousel-image-one {
  z-index: 2;
  opacity: 1;
  background-image: url('images/slider/bg1.jpg');
  height: 550px;
  background-size: cover;
  background-position: center;
}

.carousel-image-two {
  background-image: url('images/slider/bg2.jpg');
  background-size: cover;
  height: 550px;
  background-size: cover;
  background-position: center;
}

*:target~.carousel-image-one {
  opacity: 0;
}

#item-1:target~.carousel-image-one {
  opacity: 1;
}

#item-2:target~.carousel-image-two {
  z-index: 3;
  opacity: 1;
}

.carousel-circle-left {
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  top: 42.5%;
  height: 90px;
  width: 45px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  left: 0px;
  position: absolute;
}

.carousel-circle-right {
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  top: 42.5%;
  height: 90px;
  width: 45px;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  right: 0px;
  position: absolute;
}
