/* GLOBAL STYLE */
body {
  width: 100%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: #65696e;
  font-size: 1em;
  min-width: 370px;
  background-color: rgba(240, 240, 240, 0.7);
}

.introduction h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: xx-large;
}

/* break point to get the right position of the section after navbar click */
.ancre100 {
  padding-top: 100px;
  position: relative;
  top: -100px;
  margin-bottom: -100px;
  z-index: -10;
}

/* CAROUSEL */
#slider-description {
  width: 40%;
  text-align: center;
  box-shadow: 3px 3px 10px 0 #c0c0c0;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.8);
  margin-top: 150px;
  margin-left: 10%;
  position: absolute;
}

#sliderTitle {
  color: #e4b44d;
  font-size: 2em;
  transition: all 2s;
  margin-top: 0;
  margin-bottom: 0;
}

#sliderText {
  font-size: 1.5em;
  transition: all 2s;
  margin-bottom: 0;
}

#sliderStopBtn, #sliderPlayBtn {
  position: absolute;
  top: 565px;
  right: 45%;
  font-size: 40px;
  color: #65696e;
  z-index: 99;
  transition: all 2s;
  cursor: pointer;
}

.slider-block {
  height: 550px;
  background-size: cover;
  background-position: right;
  margin-top: 100px;
  transition: all 1s;
}

.carousel .arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
}

/* get arrow in right possition */
.carousel .arrow-prev {
  left: 15px;
  position: absolute;
  top: 40%;
  transform: rotate(135deg);
}

/* get arrow in right position */
.carousel .arrow-next {
  right: 15px;
  position: absolute;
  top: 40%;
  transform: rotate(-45deg);
}

.circle {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 5px solid #65696e;
  position: absolute;
  right: -32px;
  bottom: -23px;
}

/* arrows circles shadows */
.carousel .circle-left {
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  top: 42.5%;
  height: 90px;
  width: 45px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  left: 0px;
  position: absolute;
  cursor: pointer;
}

.carousel .circle-right {
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  top: 42.5%;
  height: 90px;
  width: 45px;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  right: 0px;
  position: absolute;
  cursor: pointer;
}

/* RESERVATION */

#reservation-map {
  width: -webkit-fill-available;
  width: -moz-available;
  min-height: 450px;
}

#reservation-container {
  display: flex;
  height: 480px;
  flex-direction: row;
  box-shadow: 5px 5px 10px 0 #c0c0c0;
  margin: 0 2em 2em 2em;
  padding: 2em;
  background-color: white;
}

#description {
  display: none;
}

#description-aside, #reservation-aside {
  margin: 0 1em 1em 1em;
}

#details-station {
  margin-top: 0;
}

aside {
  position: relative;
  flex-direction: column;
  width: 35%;
  min-width: 320px;
}

#station-reserver-btn {
  display: none;
  background-color: #5CB85C;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #5CB85C;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #86ae47;
  margin: auto;
}

#name-reservation {
  margin-bottom: 1em;
  border-radius: 5px;
  width: 100%;
  padding: 0.3em;
}

#surname-reservation {
  margin-bottom: 1em;
  border-radius: 5px;
  width: 100%;
  padding: 0.3em;
}

#info-champs {
  margin-top: 0;
}

#canvas {
  border: 5px solid #D9534F;
}

#reservation-aside {
  display: none;
  text-align: center;
}

#station-status {
  text-align: center;
  border-radius: 5px;
  color: white;
}

#adresse {
  font-weight: 900;
}

#station-address {
  font-weight: 100;
}

.confirmation-btns {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 15px;
  text-decoration: none;
}

#station-confirmer-btn {
  border: 1px solid #5CB85C;
  background-color: #5CB85C;
  display: none;
}

#station-anuler-btn {
  border: 1px solid #D9534F;
  background-color: #D9534F;
}

#station-clear-btn {
  border: 1px solid #65696e;
  background-color: #65696e;
}

#reservation-aside h2 {
  text-align: center;
  background-color: #5CB85C;
  border-radius: 5px;
  color: white;
}

#reservation-aside p {
  text-align: center;
}

/* COUNTER*/
#counter-container {
  width: 40%;
  text-align: center;
  box-shadow: 3px 3px 10px 0 #c0c0c0;
  padding: 2em;
  background-color: white;
  position: relative;
  top: 40%;
  margin: auto;
}

#counter-block {
  height: 550px;
  background-size: cover;
  background-position: center;
  transition: all 1s;
  background-image: url('../images/reservation.jpg');
}
