/* GLOBAL STYLE */
body {
  width: 100%;
  margin: auto;
  font-family: 'Roboto', sans-serif;
  color: #65696e;
  font-size: 1em;
  min-width: 350px;
}

.slider, .reservation, .counter {
  border: 5px solid red;
}

#sliderTitle {
  position: absolute;
  top: 250px;
  right: 10%;
  z-index: 99;
  transition: all 2s;
}

#sliderText {
  position: absolute;
  top: 300px;
  right: 10%;
  z-index: 99;
  transition: all 2s;
}

#sliderPlayBtn {
  position: absolute;
  top: 350px;
  right: 10%;
  z-index: 99;
  transition: all 2s;
}

#sliderStopBtn {
  position: absolute;
  top: 350px;
  right: 15%;
  z-index: 99;
  transition: all 2s;
}

/* make arrows with hiding half of borders */
.carousel .arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 8px;
}

/* get arrow in right possition */
.carousel .arrow-prev {
  left: 15px;
  position: absolute;
  top: 40%;
  transform: rotate(135deg);
}

/* get arrow in right position */
.carousel .arrow-next {
  right: 15px;
  position: absolute;
  top: 40%;
  transform: rotate(-45deg);
}

/* arrows circles shadows */
.carousel .circle-left {
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  top: 42.5%;
  height: 90px;
  width: 45px;
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  left: 0px;
  position: absolute;
}

.carousel .circle-right {
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  top: 42.5%;
  height: 90px;
  width: 45px;
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  right: 0px;
  position: absolute;
}

#sliderImage {
  height: 550px;
  background-size: cover;
  background-position: center;
  margin-top: 100px;
}

/* break point to get the right position of the section after navbar click */
/* break point to get the right position of the section after navbar click */
.ancre100 {
  padding-top: 100px;
  position: relative;
  top: -100px;
  margin-bottom: -100px;
  border: 5px solid green;
  z-index: -10;
}

#reservation-map {
  height: 700px;
  width: -webkit-fill-available;
}

/*tutaj na komorce dorzuc flex-direction column */
#reservation-container {
  display: flex;
  flex-direction: row;
}

aside {
  border: 5px solid yellow;
  position: relative;
  flex-direction: column;
  width: 35%;
  min-width: 300px;
  /*height: 40em;
border: 1px solid #a0a0a0;
background: #fff;
font-weight: bold;*/
}

#station-reserver-btn {
  display: none;
}



#canvas {
  border: 5px solid pink;
}

#reservation-aside{
  display: none;
}
