body {
  margin-top: 50px;
  color: #232323;
  height: 100%;
  letter-spacing: 0.075em;
  line-height: 1.6;
  font-weight: 400;
  min-width: 400px;
}

a {
  text-decoration: none;
}

.btn {
  margin-right: 0.2em;
}

.introBlock {
  background-size: cover;
  background-position: center;
  transition: all 1s;
  background-image: url('../img/background1.jpg');
  height: 100vh;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  margin-top: -50px;
}

#introTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
  color: white;
  margin-left: 5%;
  margin-right: 5%;
}

#introDescription {
  position: relative;
  top: 35vh;
  text-align: center;
  font-size: 2em;
  color: white;
}

/* SECTION SERVICES */
.services {
  padding-top: 5em;
  margin-bottom: 7em;
}

.services i {
  position: relative;
  bottom: 21px;
  border: 4px solid white;
  border-radius: 50%;
}

.services .content {
  display: flex;
  flex-direction: row;
}

.services .photo {
  width: 50%;
  margin: auto auto auto 10%;
}

.services .descriptions {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  transition: all 2s;
  list-style-type: none;
}

.services .description {
  margin-right: 10%;
}

.photo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.introduction {
  margin: auto;
  text-align: center;
}

.introduction p {
  line-height: 1.8;
  margin-top: 0px;
  margin: 2em;
}

.introduction h2 {
  text-transform: uppercase;
  font-size: 48px;
}

.fa-2x {
  font-size: 1.8em;
}

.services .icones {
  position: relative;
  bottom: 90px;
  border-radius: 50%;
  border: 2px solid #ebebeb;
  width: 60px;
}

.icones .fa-circle {
  position: relative;
  left: 48px;
  border: 4px solid white;
  border-radius: 50%;
}

.icones .fa-calendar-alt, .icones .fa-algolia, .icones .fa-camera {
  position: relative;
  left: 12px;
  top: 10px;
}

.description p, .description h3 {
  margin-left: 100px;
  margin-bottom: 5px;
}

.description h3 {
  color: black;
}

.introduction hr {
  width: 150px;
  border: 1px solid #ebebeb;
}

.descriptions-block {
  display: block;
}

/*BOOK*/
#book {
  background-size: cover;
  background-position: center;
  transition: all 1s;
  background-image: url('../img/background2.jpg');
  height: 100vh;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  margin-top: -50px;
}

#bookDescription {
  margin-top: 20%;
  text-align: center;
}

.btn-perso {
  border-color: #232323;
  color: #232323;
  margin-top: 3em;
}

#bookTitle {
  text-transform: uppercase;
  font-size: 38px;
  font-weight: 700;
}

#bookText {
  text-align: justify;
  text-justify: inter-word;
}

#bookText p {
  background-color: transparent !important;
}

/*FOOTER*/
footer {
  padding: 1em;
  background-color: #1d242a;
  text-align: center;
  color: white;
  bottom: 0;
  width: 100%;
}

.copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
  letter-spacing: 0.225em;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 0;
}

#footer .copyright li {
  border-left: solid 1px rgba(255, 255, 255, 0.5);
  display: inline-block;
  line-height: 1em;
  margin-left: 1em;
  padding-left: 1em;
}

/* HEADLINE */
.headlineBlock {
/*  background-size: cover;*/
  background-position: bottom;
  transition: all 1s;
  background-image: url('../img/background1.jpg');
  height: 50vh;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  margin-top: -50px;
}

#headlineTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

#headlineDescription {
  position: relative;
  top: 20vh;
  text-align: center;
  font-size: 1.5em;
  color: white;
  text-transform: uppercase;
}

#headlineText {
  text-transform: uppercase;
}

/* LIST */
.postList {
  margin: 5em 10% 5em 10%;
}

.postList h3 {
  margin: 1.5em 0 1em 0;
}

.postListTitle {
  color: #232323;
  text-transform: uppercase;
  text-decoration: none;
}

.postListContent {
  margin-bottom: 5em;
}

.btn-perso-list {
  border-color: #232323;
  color: #232323;
}

/*POST*/
.postViev {
  margin: 3em 10% 5em 10%;
}

#postDate {
  margin-bottom: 2em;
  font-weight: 500;
  text-transform: uppercase;
}

#postText {
  text-align: justify;
  text-justify: inter-word;
}

.postComments {
  margin: 1em 20% 5em 20%;
}

.postComments hr {
  margin-top: 3em;
  margin-bottom: 3em;
}

.postComments strong {
  text-transform: uppercase;
}

.commentLink {
  color: #232323;
}

.reportingComment {
  color: #dc3545;
}

/*COMMENT LIST*/
#radioComments {
  margin-top: 2em;
}

/* INSCRIPTION*/
.container {
  padding-top: 3em;
  padding-bottom: 3em;
}

/* connexion */
.connexion {
  min-height: 87vh;
}

/* ERROR */
.errorShow {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  margin-top: -50px;
  transition: all 1s;
  background-image: url('../images/error.gif');
  height: 100vh;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
}

.errorShadow {
  height: 100vh;
  background-color: #232323ab;
}

.errorContainer {
  text-align: center;
  padding-top: 20vh;
  color: white;
}

#oops {
  font-size: 10em;
  color: white;
  font-weight: 100;
}

/*All media querys from 900px*/
@media (max-width: 900px) {
  .authorBlock {
    flex-direction: column;
    padding: 0;
    align-items: center;
    text-align: center;
  }

  .author {
    height: 800px;
  }

  .btn {
    margin-bottom: 1em;
  }
}

/*All media querys from 700px*/
@media (max-width: 700px) {
  .author {
    padding: 2em;
    height: 900px;
  }
}

/*All media querys from 700px*/
@media (max-width: 768px) {

  /* SERVICES */
  .services .content {
    flex-direction: column;
  }

  .services .descriptions {
    width: 80%;
    margin-top: 0px;
  }

  .services .description {
    margin-right: 0%;
  }

  .services .photo {
    width: auto;
    margin: auto;
    margin-bottom: 4em;
  }

  #introTitle {
    margin-top: -100px;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/*All media querys from 500px*/
@media (max-width: 500px) {
  #introTitle {
    font-size: 1.5em;
  }

  #biography h2 {
    font-size: 2.5em;
  }

  .author {
    padding: 0;
  }
}
