body
{
  margin-top: 100px;
}
h1, h3
{
    text-align:center;
}
h3
{
    background-color:black;
    color:white;
    font-size:0.9em;
    margin-bottom:0px;
}
.news p
{
    background-color:#CCCCCC;
    margin-top:0px;
}
.news
{
    width:70%;
    margin:auto;
}
.comments
{
    width:70%;
    margin:auto;
}
.navigator
{
    width:70%;
    margin:auto;
}
a
{
    text-decoration: none;
    color: blue;
}

/* ************************************ */

.ancre100 {
  padding-top: 100px;
  position: relative;
  top: -100px;
  margin-bottom: -100px;
  z-index: -10;
}

.introBlock {
  height: 550px;
  background-size: cover;
  background-position: right;
  margin-top: 100px;
  transition: all 1s;
  background-image: url('../alaska/images/background.jpg');
}
