body {
  margin-top: 50px;
  color: #232323;
  height: 100%;
  letter-spacing: 0.075em;
  line-height: 1.6;
  font-weight: 400;
}

a {
  text-decoration: none;
}

/* ************************************ */
/*.ancre100 {
  padding-top: 100px;
  position: relative;
  top: -100px;
  margin-bottom: -100px;
  z-index: -10;
}*/
.introBlock {
  /*height: 550px;*/
  background-size: cover;
  background-position: center;
  /*margin-top: 50px;*/
  transition: all 1s;
  background-image: url('../images/background.jpg');
  height: 100vh;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  margin-top: -50px;
}

#introTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}

#introDescription {
  position: relative;
  top: 35vh;
  text-align: center;
  font-size: 2em;
}



/* AUTHOR */
#biography h2 {
  text-transform: uppercase;
  font-size: 3em;
}

#biography {
  margin-right: 1em;
}

.author {
  /*  background-image: linear-gradient(to right, rgb(76, 143, 186), white);*/
  /*  background-color: rgb(76, 143, 186);*/
  height: 750px;
  padding: 3em;
}

#portrait {}

.authorBlock {
  display: flex;
  flex-direction: row;
  /*  box-shadow: 5px 5px 10px 0 #c0c0c0;*/
  margin: 2em;
  padding: 3em;
  background-color: white;
}

/*BOOK*/
#book {
  /*height: 550px;*/
  background-size: cover;
  background-position: center;
  /*margin-top: 50px;*/
  transition: all 1s;
  background-image: url('../images/background2.jpg');
  height: 100vh;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  margin-top: -50px;
}

#bookDescription {
  margin: 8em 10%;
  text-align: center;
}

.btn-perso {
  border-color: #232323;
  color: #232323;
  margin-top: 3em;
}

#last-btn {
  padding: 10px 15px;
  text-decoration: none;
  cursor: pointer;
  /* color: #65696e; */
  color: #232323;
}

#bookTitle{
  text-transform: uppercase;

}
#bookText {
  text-align: justify;
text-justify: inter-word;
}

/*FOOTER*/
footer {
  padding: 1em;
  background-color: #1d242a;
  text-align: center;
  color: white;
    bottom: 0;
    width: 100%;
}

.copyright {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.8em;
  letter-spacing: 0.225em;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  margin-bottom: 0;
}

#footer .copyright li {
  border-left: solid 1px rgba(255, 255, 255, 0.5);
  display: inline-block;
  line-height: 1em;
  margin-left: 1em;
  padding-left: 1em;
}

/* HEADLINE */
.headlineBlock {
  /*height: 550px;*/
  background-size: cover;
  background-position: center;
  /*margin-top: 50px;*/
  transition: all 1s;
  background-image: url('../images/background2.jpg');
  height: 50vh;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
  margin-top: -50px;
}

#headlineTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}

#headlineDescription {
  position: relative;
  top: 20vh;
  text-align: center;
  font-size: 1.5em;
}

#headlineText{
  text-transform: uppercase;
}

/* LIST */
.postList {
  margin: 5em 10% 5em 10%;
}

.postList h3 {
  margin: 1.5em 0 1em 0;
}

.postListTitle {
  color: #232323;

  text-transform: uppercase;
  text-decoration: none;
}

.postListContent{
  margin-bottom: 5em;
}

.btn-perso-list {
  border-color: #232323;
  color: #232323;
}

/*POST*/
.postViev{
  margin: 3em 10% 5em 10%;
}

#postDate{
  margin-bottom: 2em;
  font-weight: 500;
  text-transform: uppercase;
}

#postText{
  text-align: justify;
text-justify: inter-word;
}

.postComments{
  margin: 1em 20% 5em 20%;
}

.postComments hr{
  margin-top: 3em;
  margin-bottom: 3em;
}

.postComments strong{
  text-transform: uppercase;
}

.commentLink{
  color: #232323;
}

.reportingComment{
  color: #dc3545;
}

/* INSCRIPTION*/
.container {
  padding-top: 3em;
  padding-bottom: 3em;
}

/* connexion */

.connexion{
  min-height: 87vh;
}

/* ERROR */
.errorShow {
  background-size: cover;
  background-position: top;
  /* margin-top: 50px; */
  background-repeat: no-repeat;
  margin-top: -50px;
  transition: all 1s;
  background-image: url('../images/error.gif');
  height: 100vh;
  min-height: 35em;
  overflow: hidden;
  position: relative;
  background-attachment: fixed;
}

.errorShadow {
  height: 100vh;
  background-color: #232323ab;
}

.errorContainer {
  text-align: center;
  padding-top: 20vh;
  color: white;
}

#oops {
  font-size: 10em;
  color: white;
  font-weight: 100;
}
